<ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div width="100%" style="background-color: white">
		<img src="{{teamData.logo_path}}">
		<div>country_id: {{teamData.country_id}}</div>
		<div>founded: {{teamData.founded}}</div>
		<div>name: {{teamData.name}}</div>
	</div>
</ion-content>
