<ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div width="100%" style="background-color: white" >
		<table style="width: 100%">
			<thead>
				<tr>
					<th>TeamName</th>
					<th>localteam_score</th>
					<th>visitorteam_score</th>
					<th>visitorTeamName</th>
					<th>localteam_id</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let teste of testes">
					<td><div class="equipa" (click)="pushPage(teste.localteam_id)">{{teste.localTeam['data'].name}}</div></td>
					<td><div class="equipa" >{{teste.scores.localteam_score}}</div></td>
					<td><div class="equipa" >{{teste.scores.visitorteam_score}}</div></td>
					<td><div class="equipa" >{{teste.visitorTeam['data'].name}}</div></td>
					<td><div class="equipa" >{{teste.localteam_id}}</div></td>
				</tr>
			</tbody>
		</table>
	</div>
</ion-content>
